*{
    box-sizing: border-box;
    
}

.content{
    background-color: rgb(243, 243, 243);
}

div {
    display: block;
}
body {
    background-color: rgb(243, 243, 243);
    font-family: Oswald;
    font-size: 18px;
    font-weight: 250;
    letter-spacing: 1px;
}

.container {
    max-width: 720px;

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.main{
    font-size: 36px;
    color: #4b4f54;
    font-weight: 600;
    line-height: 0.9;
    padding-top: 100px;
    margin-bottom: 40px;
}

.rating_star {
    /* display: block;
    background: url(image/star.png) 0 -20px repeat-x;
    width: 100px;
    height: 20px; */
    display: inline-block;
}


#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }








footer{
    background-color: #ffffff;
    color: #000000;
    padding-top: 2rem;
}
hr.dark{
    border-top: 1px solid #000000;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
footer a{
    color: #000000;
}
.dark-100{
    border-top: 1px solid #000000;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
    
}   

.social-links a{
    display: inline-block;
    height: 35px;
    width: 35px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 5px 5px 0;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    color: black;
    transition: all 0.5s ease;
}

.social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}