.main_title{
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    
}


.your_account .nav-tabs {
    border-bottom: none !important;
}

.ml-3, .mx-3 {
    margin-left: 1rem!important;
}
.nav-link{
    color: black;
}

.centred{
    padding-left:200px;
    padding-right:200px;
}

.pl-3, .px-3 {
    padding-left: 1rem!important;
}
.mr-5, .mx-5 {
    margin-right: 3rem!important;
}

.cc-title_block_input{
    font-weight: 500;
    font-size: 22px;
    
}




footer{
    background-color: #ffffff;
    color: #000000;
    padding-top: 2rem;
}
hr.dark{
    border-top: 1px solid #000000;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
footer a{
    color: #000000;
}
.dark-100{
    border-top: 1px solid #000000;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
    
}





.social-links a{
    display: inline-block;
    height: 35px;
    width: 35px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 5px 5px 0;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    color: black;
    transition: all 0.5s ease;
}
.social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}


.mx-auto{
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
}
.back{
    background-image: url(https://i.pinimg.com/originals/9d/c4/49/9dc44930fed1b91f7847d0021a8af2ed.png);
    background-attachment: fixed;
    /* background-position: left, right;
    background-repeat: repeat-y, repeat-y; */
}

